<h1>About</h1>
<p>
	Ink Spot is an application built by Geetha created during <%= link_to "One Month Rails", "http://onemonthrails.com" %>, a project to teach
	<%= link_to "Ruby on Rails", "http://rubyonrails.org" %> in one month. This is a sample application.
</p>

